torch==1.4.0
torchvision==0.5.0
transformers==2.4.1
numpy
scikit-learn==0.22.1
pyhocon
graphviz
tensorboard
tqdm==4.56.0
dkpro-cassis @ git+https://github.com/hatzel/dkpro-cassis.git@9e9a260a9ae2d281a2c6a964b6eb88d3affcd240
